* {
    font-family: 'Mazzard_M', sans-serif;
}
body{
    position: relative;
    background-color: #F5F7FA;
}
.container{
    position: relative;
    max-width: 1236px;
    margin: 0 auto;
}
@import "blocks/header";
@import "blocks/promo";
@import "blocks/button";
@import "blocks/advantages";
@import "blocks/title";
@import "blocks/simply";
@import "blocks/repay";
@import "blocks/get";
@import "blocks/form";
@import "blocks/questions";
@import "blocks/publications";
@import "blocks/presentation";
@import "blocks/footer";
@import "blocks/login";

//@media (max-width: 1200px) //от 992 до 1200

//@media (max-width: 991px) // от 768 до 991

//@media (max-width: 767px) // от 576 до 767

//@media (max-width: 575px) // от 320 до 575





// @media (max-width: 1269px) { //от 1201 до 1269
// }
// @media (max-width: 1200px) {//от 992 до 1200
// }

// @media (max-width: 991px) { // от 768 до 991
// } 

// @media (max-width: 767px) {// от 451 до 767
// }
// @media (max-width: 450px) { // от 420 до 450
// } 
