* {
    font-family: 'Mazzard_M', sans-serif;
}
.container{
    position: relative;
    width: 1236px;
    margin: 0 auto;
}
@import "blocks/header";
@import "blocks/promo";
@import "blocks/button";
@import "blocks/advantages";
@import "blocks/title";