* {
    font-family: 'Mazzard_M', sans-serif;
}
body{
    position: relative;
}
.container{
    position: relative;
    width: 1236px;
    margin: 0 auto;
}
@import "blocks/header";
@import "blocks/promo";
@import "blocks/button";
@import "blocks/advantages";
@import "blocks/title";
@import "blocks/simply";
@import "blocks/repay";
@import "blocks/get";
@import "blocks/form";
@import "blocks/questions";
@import "blocks/publications";
@import "blocks/presentation";
@import "blocks/footer";
@import "blocks/login";