.advantages{
    min-height: 768px;
    &__wrapper{
        display: flex;
        margin-top: 51px;
    }
    &__bid{
        width: 47%;
        height: 546px;
        background-color: #fff;
        border-radius: 10px;
        padding: 75px 55px 83px;
        margin-right: 11px;
    }
    &__check{
        display: block;
        margin: 0 auto;
    }
    &__percent{
        font-family: 'Mazzard_H', sans-serif;
        font-size: 96px;
        font-weight: 200;
        color: #00BDA0;
        text-align: center;
        margin-top: 41px;
        line-height: 94px;
    }
    &__txt{
        font-size: 30px;
        font-weight: 500;
        color: #3B4244;
        text-align: center;
        margin-bottom: 71px;
    }
    &__blocks{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    &__item{
        width: 274px;
        height: 264px;
        background-color:#fff;
        border-radius: 10px;
        margin: 0 11px;
        padding: 63px 0 43px 0;
        &:nth-child(3n){
            margin-right: 0;
        }
    }
    &__icons{
        display: block;
        margin: 0 auto;
    }
    &__descr{
        font-family: 'Mazzard_H', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #3B4244;
        text-align: center;
        margin-top: 35px;
    }
}
@media (max-width: 1269px) { //от 1201 до 1269
    .advantages{
        &__item{
            width: 31%;
            margin: 0 7px;
        }
        &__bid{
            margin-left: 14px;
        }
    }
}
@media (max-width: 1200px) {//от 992 до 1200
    .advantages{
        &__bid{
            padding: 75px 45px 83px;
        }
        &__descr{
            font-size: 14px;
            line-height: 19px;
        }
    }
}
@media (max-width: 991px) { // от 768 до 991
    .advantages{
        min-height: 705px;
        &__item{
            width: 30%;
            height: 244px;
        }
        &__bid{
            width: 35%;
            height: 500px;
        }
    }    
} 
@media (max-width: 767px) {// от 451 до 767
    .advantages{
        min-height: 555px;
        &__blocks{
            justify-content: space-around;
            margin: 0 5px;
        }
        &__wrapper{
            margin-top: 6px;
        }
        &__bid{
            display: none;
        }
        &__item{
            width: 29%;
            height: 200px;
            margin: 20px 2px 0 0;
            padding-top: 30px;
        }
        &__descr{
            margin-top: 30px;
            font-size: 13px;
            line-height: 18px;
        }
    }
}
@media (max-width: 450px) { // от 420 до 450
    .advantages{
        min-height: 535px;
        margin-top: 10px;
        &__descr{
            font-size: 12px;
            line-height: 16px;
        }
    }
} 