.button{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .05em; //5%
    color: #3B4244;
    text-transform: uppercase;
    background-color: #FFD56A;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    &:focus{
        outline: none;
    }
    &_simply{
        display: block;
        width: 285px;
        margin: 0 auto;
    }
    &_repay{
        width: 203px;
        background-color: #fff;
        border: 1px solid #FFD56A;
    }
}
@media (max-width: 767px) {// от 451 до 767
    .button{
        &_repay{
            width: 125px;
            font-size: 12px;
        }
    }
}
@media (max-width: 450px) { // от 420 до 450
    .button{
        &_repay{
            width: 90px;
            height: 40px;
        }
    }
} 