.button{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .05em; //5%
    color: #3B4244;
    text-transform: uppercase;
    background-color: #FFD56A;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    &:focus{
        outline: none;
    }
}