.footer{
    min-height: 150px;
    background-color: #EAEFF5;
    &__text{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #607D8B;
        padding-top: 47px;
        padding-left: 2px;
    }
}
@media (max-width: 767px) {// от 451 до 767
    .footer{
        min-height: 105px;
        &__text{
            font-size: 12px;
            line-height: 18px;
            padding-top: 25px;
        }
    }
}