.footer{
    min-height: 150px;
    background-color: #EAEFF5;
    &__text{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #607D8B;
        padding-top: 47px;
    }
}