.form{
    position: absolute;
    right: 0;
    max-width: 506px;
    padding: 40px 60px;
    background-color: #fff;
    border-radius: 10px;
    &_get{
        margin-right: 50px;
    }
    &__tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    &__tab{
        width: 193px;
        height: 50px;
        font-size: 16px;
        line-height: 48px;
        font-weight: 400;
        color: #607D8B;
        background-color: #F5F7FA;
        text-align: center;
        border-radius: 0 50px 50px 0;
        &:nth-child(1){
            border-radius: 50px 0 0 50px;
        }
        &:hover{
            text-decoration: none;
            color: #607D8B;
        }
        &_active{
            color:#fff;
            background-color: #00BDA0;
            &:hover{
                color:#fff;
            }
        }
    }
    &__sumWrapper, &__dayWrapper{
        position: relative;
        border: 1px solid #DFE9F8;
        border-bottom: none;
        border-radius: 5px;
        width: 385px;
        height: 50px;
    }
    &__rub, &__days{
        position: absolute;
        right: 20px;
        color: #607D8B;
        font-size: 14px;
        font-weight: 400;
        line-height: 45px;
    }
    &__label{
        display: block;
        color: #607D8B;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 0;
        margin-top: 18px;
        &_get{
            margin-top: 10px;
            font-size: 18px;
        }
    }  
    &__outputSum, &__outputDay{
        padding-left: 22px;
        font-size: 24px;
        font-weight: 400;
        line-height: 48px;
        color: #3B4244;
    }
    &__sum, &__day{
        position: absolute;
        bottom: 0px;
        height: 0px;
        border: 1px solid #00BDA0;
        display: block;
        width: 385px;
        appearance: none;
        &::-webkit-slider-thumb{
            width: 27px;
            height: 9px;
            appearance: none;
            background-color:#00BDA0;
            border-radius: 10px;
        }
    }
    &__interval{
        display: flex;
        justify-content:space-between;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        color: #607D8B;
    }
    &__itog{
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        &_get{
            background-color: #F5F7FA;
            align-items: center;
            justify-content: space-around;
            border-radius: 5px;
            height: 80px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }
    &__column{
        &:last-child{
            div{
                &:last-child{
                    color: #00BDA0;
                }
            }
        }
    }
    &__descr{
        font-size: 9px;
        font-weight: 400;
        line-height: 20px;
        color: #607D8B;
        text-transform: uppercase;
    }
    &__info{
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        color: #3B4244;
        margin-bottom: 24px;
        span{
            font-size: 13px;
            margin-left: 6px;
        }
        &_get{
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 0;
            line-height: 25px;
        }
    }
    &__instruct{
        display: block;
        margin-top: 17px;
        text-decoration: underline;
        text-underline-offset: 7px;
    }
    &__rules{
        display: block;
        margin-top: 3px;
        text-decoration: underline;
        text-underline-offset: 7px;
    }
    &__conclusion{
        margin-top: 21px;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #A3A3A3;
    }
}
@media (max-width: 1269px) { //от 1201 до 1269
    .form{
        right: 6px;
    }
}

@media (max-width: 1200px) {//от 992 до 1200
    .form{
        padding: 20px 32px;
        &_get{
            margin-right: 10px;
        }
    }
}
@media (max-width: 991px) {// от 768 до 991
    .form{
        &_get{
            margin-right: 1px;
            padding: 20px 10px;
        }
    }
}
@media (max-width: 767px) {// от 451 до 767
    .form{
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 14px;
        width: 415px;
    }
}
@media (max-width: 390px) { // от 320 до 390
    .form{
        width: 320px;
        &__sumWrapper, &__dayWrapper{
            width: 300px;
        }
        &__sum, &__day{
            width: 300px;
        }
        &__info{
            font-size: 13px;
            line-height: 15px;
        }
        &__instruct, &__rules{
            font-size: 13px;
        }
        &__outputDay, &__outputSum{
            font-size: 20px;
        }
        &__conclusion{
            margin-top: 18px;
            font-size: 10px;
        }
        &__label{
            margin-top: 8px;
        }
        &__tab{
            height: 42px;
            line-height: 40px;
        }
    }
} 