.get{
    background-color: #F5F7FA;
    min-height: 810px;
    &__wrapper{
        height: 568px;
        background-color: #fff;
        margin-top: 96px;
    }
    &__img{
        position: absolute;
        bottom: 0;
        left: 115px;
    }
}