.header{
    &__nav{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        width: 94px;
        height: 40px;
    }
    &__menu{
        display: flex;
        margin-bottom: 0;
    }
    &__item{
        font-size: 18px;
        font-weight: 500;
        color: #3B4244;
        list-style-type: none;
        margin: 0 27px;
        line-height: 20px;
    }
    &__link{
        color: #3B4244;
        transition: 0.6s all;
        &:hover{
            text-decoration: none;
            color: #00BDA0;
        }
    }
    &__button{
        width: 182px;
        height: 71px;
        background-color: #00BDA0;
        border: none;
        padding-left: 0px;
        span{
            font-size: 13px;
            font-weight: 600;
            color: #F2FCFF;
            text-transform: uppercase;
            letter-spacing: .05em; //5%
            margin-left: 10px;
        }
        &:focus{
            outline: none;
        }
    }
}