.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56)
}
.login{
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 510px;
    height: 500px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    &__title{
        font-family: 'Mazzard_H', sans-serif;
        font-size: 31px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }
    &__form{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }
    &__input{
        height: 50px;
        margin-bottom: 20px;
        border: none;
        background-color: #F5F7FA;
        border-radius:10px;
        font-size: 20px;
        padding: 0 20px;
        &:focus{
            outline: 2px solid #00BDA0;
        }
    }
    &__forgot{
        color: #00BDA0;
        &:hover{
            text-decoration: none;
            color: #00BDA0;
        }
    }
    &__btn{
        height: 50px;
        margin-top: 20px;
        border: none;
        border-radius: 10px;
        color: #fff;
        background-color:#00BDA0;
        &:last-child{
            background-color: #fff;
            color: #00BDA0;
            border: 2px solid #00BDA0;
        }
    }
    &__close{
        position: absolute;
        top: -15px;
        right: 8px;
        font-size: 55px;
        color: red;
        cursor: pointer;
    }
}