.presentation{
    min-height: 662px;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 45px 2px 0 2px;
    }
    &__block{
        position: relative;
        width: 32.5%;
        height: 250px;
        background-color: #00BDA0;
        border-radius: 10px;
    }
    &__img{
        position: absolute;
        bottom: 103px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    &__text{
        font-family: 'Mazzard_H', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        color: #fff;
        text-align: center;
        margin-top: 170px;
    }
    &__descr{
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        color: #607D8B;
        margin: 69px 2px 0 2px;
    }
}
@media (max-width: 1200px) {//от 992 до 1200
    .presentation{
        &__descr{
            font-size: 17px;
        }
    }
}
@media (max-width: 991px) { // от 768 до 991
    .presentation{
        &__block{
            width: 33%;
        }
        &__descr{
            font-size: 14px;
            line-height: 24px;
            margin-top: 45px;
        }
    }
} 

@media (max-width: 767px) {// от 451 до 767
    .presentation{
        min-height: 600px;
        &__block{
            height: 215px;
        }
        &__text{
            font-size: 14px;
            line-height: 18px;
            margin-top: 145px;
        }
        &__descr{
            font-size: 12px;
            line-height: 20px;
            margin-top: 37px;
        }
    }
}
@media (max-width: 450px) { // от 420 до 450
    .presentation{
        &__text{
            font-size: 13px;
        }
    }
} 