.presentation{
    background-color: #F5F7FA;
    min-height: 662px;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 45px;
    }
    &__block{
        position: relative;
        width: 400px;
        height: 250px;
        background-color: #00BDA0;
        border-radius: 10px;
    }
    &__img{
        position: absolute;
        bottom: 103px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    &__text{
        font-family: 'Mazzard_H', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        color: #fff;
        text-align: center;
        margin-top: 170px;
    }
    &__descr{
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        color: #607D8B;
        margin-top: 69px;
    }
}