.questions{
    min-height: 526px;
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 35px;
    }
    // &__items{
    //     margin-top: 35px;
    // }
    &__item{
        position: relative;
        width: 49.5%;
        min-height: 70px;
        background-color: #fff;
        padding: 26px 0px 23px 43px;
        border-radius: 5px;
        margin: 5px 0;
    }
    &__text{
        font-size: 18px;
        font-weight: 400;
        color: #3B4244;
    }
    &__plus{
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 14px;
            height: 2px;
            background-color:#3B4244;
        }
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 14px;
            background-color:#3B4244;
        }
    }
}
@media (max-width: 991px) { // от 768 до 991
    .questions{
        &__text{
            font-size: 17px;
            font-weight: 300;
        }
    }
} 
@media (max-width: 767px) {// от 451 до 767
    .questions{
        min-height: 585px;
        &__wrapper{
            display: block;
        }
        &__item{
            width: 98%;
            min-height: 50px;
            padding: 5px 5px;
            margin-left: 5px;
        }
        &__text{
            line-height: 40px;
        }
    }
}