.repay{
    background-color: #F5F7FA;
    min-height: 760px;
    &__col{
        font-size: 12px;
        font-weight: 400;
        color: #607D8B;
        text-transform: uppercase;
        text-align: center;
        margin: 50px 0 23px;
        padding-right: 105px;
        span{
            margin: 0 105px;
        }
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 120px;
        background-color: #FFF;
        margin-bottom: 8px;
    }
    &__img{
        width: 170px;
        text-align: center;
    }
    &__text{
        width: 227px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #3B4244;
    }
    &__moment{
        span{
            margin-left: 18px;
            font-size: 18px;
            font-weight: 400;
            color: #3B4244;
        }
    }
}