.repay{
    min-height: 760px;
    &__col{
        font-size: 12px;
        font-weight: 400;
        color: #607D8B;
        text-transform: uppercase;
        text-align: center;
        margin: 50px 0 23px;
        padding-right: 105px;
        span{
            margin: 0 105px;
        }
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 120px;
        background-color: #FFF;
        margin-bottom: 8px;
    }
    &__img{
        width: 170px;
        text-align: center;
    }
    &__text{
        width: 227px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #3B4244;
    }
    &__moment{
        span{
            margin-left: 18px;
            font-size: 18px;
            font-weight: 400;
            color: #3B4244;
        }
    }
}
@media (max-width: 1200px) {//от 992 до 1200
    .repay{
        &__col{
            span{
                margin: 0 75px;
            }
        }
    }
}
@media (max-width: 991px) { // от 768 до 991
    .repay{
        &__col{
            padding-right: 60px;
            span{
                margin: 0 50px;
            }
        }
        &__text{
            width: 200px;
            font-size: 16px;
        }
        &__moment{
            span{
                margin-left: 6px;
                font-size: 16px;
            }
        }
    }
} 
@media (max-width: 767px) {// от 451 до 767
    .repay{
        min-height: 465px;
        &__block{
            height: 75px;
        }
        &__text, &__col{
            display: none;
        }
        &__moment{
            span{
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 450px) {
    .repay{
        min-height: 460px;
    }
}