.simply{
    position: relative;
    min-height: 708px;
    &__content{
        position: relative;
        max-width: 509px;
        margin: 80px auto 84px;
    }
    &__group{
        position: absolute;
        top: 0;
        left: 0;
    }
    &__items{
        margin-left: 101px;
    }
    &__header{
        font-family: 'Mazzard_H', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #3B4244;
    }
    &__subheader{
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #607D8B;
        margin-bottom: 72px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__img{
        position: absolute;
        right: -95px;
        top: 150px;
    }
}

@media (max-width: 1441px){ // от 1400 до 1441px
    .simply{
        &__img{
            right: -74px;
            width: 32%;
        }
    }
}
@media (max-width: 1399px){ // от 1350px до 1399px
    .simply{
        &__img{
            right: -49px;
            width: 30%;
        }
    }
}
@media (max-width: 1349px){
    .simply{
        &__img{
            right: -9px;
            width: 27%;
            top: 170px;
        }
    }
}
@media (max-width: 1269px) { //от 1201 до 1269
    .simply{
        &__img{
            right: 0px;
        }
    }
}
@media (max-width: 1200px) {//от 992 до 1200
    .simply{
        &__img{
            width: 24%;
            top: 220px;
        }
    }
}
@media (max-width: 991px) { // от 768 до 991
    .simply{
        &__img{
            width: 20%;
            top: 245px;
        }
    }
} 
@media (max-width: 767px) {// от 451 до 767
    .simply{
        min-height: 590px;
        &__content{
            margin: 50px auto;
        }
        &__group{
            left: 24px;
        }
        &__items{
            margin-left: 90px;
        }
        &__header{
            font-size: 21px;
        }
        &__subheader{
            font-size: 15px;
            line-height: 23px;
        }
        &__img{
            display: none;
        }
    }
}
@media (max-width: 450px) { // от 420 до 450
    .simply{
        min-height: 560px;
        &__items{
            margin-left: 80px;
        }
        &__header{
            font-size: 20px;
        }
        &__subheader{
            font-size: 14px;
        }
        &__group{
            left: 18px;
        }
    }
} 