.title{
    font-family: 'Mazzard_H', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #3B4244;
    text-align: center;
}
@media (max-width: 767px) {// от 451 до 767
    .title{
        font-size: 29px;
        &_repay{
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 450px) { // от 420 до 450
    .title{
        font-size: 27px;
    }
} 
