@font-face{
    font-family: 'Mazzard_H';
    src: url('../fonts/MazzardH-ExtraLight.woff') format('woff'),
         url('../fonts/MazzardH-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: 'Mazzard_H';
    src: url('../fonts/MazzardH-Medium.woff') format('woff'),
         url('../fonts/MazzardH-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Mazzard_M';
    src: url('../fonts/MazzardM-Light.woff') format('woff'),
         url('../fonts/MazzardM-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Mazzard_M';
    src: url('../fonts/MazzardM-Medium.woff') format('woff'),
         url('../fonts/MazzardM-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Mazzard_M';
    src: url('../fonts/MazzardM-Regular.woff') format('woff'),
         url('../fonts/MazzardM-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Mazzard_M';
    src: url('../fonts/MazzardM-SemiBold.woff') format('woff'),
         url('../fonts/MazzardM-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}